[2013-12-03 21:25] ghost opened #1 "Issue with forgery protection and Rails 3.2"
Hey @ankane, just a quick issue where I wanted to say thanks for this Gem...I just found it useful for an app I'm working on.  Also, I wanted to suggest a README update specific to Rails 3.2.

I had to add an extra line above my controller methods

[code]

Feel free to drop this line into your README where it makes the most sense.  Basically, for Rails 3.2 you have to skip the forgery protection b

[2014-01-07 19:23] cobbr2 opened #2 "Hooking into devise 2.0.5 and rails 3.2"
I've had two problems with hooking pretender into our application.

First, just putting the `impersonates :user` call into our ApplicationController did not work. We got 'undefined method "current_user"' when we did so. That's because Devise hasn't actually defined that method yet; it's defined when the ActiveSupport.on_load hook is called for ApplicationController, which is later in the Rails sta

[2014-03-24 08:29] #1 closed, assigned to nobody

[2014-06-24 04:21] #2 closed, assigned to nobody

[2014-12-15 21:19] theonegri opened #3 "true_user always present"
it looks like true user is always present even tho I'm not impersonating anyone

[2014-12-16 09:07] #3 closed, assigned to nobody

[2015-01-26 14:07] m7moud opened #4 "Why fetching impersonation is only if user is logged?"
I'm using different models for users and admins, and of course admins can impersonate users.

[2015-02-12 02:01] jamsi opened #5 "Loosing true_user"
We seem to be experiencing an issue where (quite magically) the true_user is lost and our admin staff suddenly just "become" the user. Perhaps the session timing out?

Any ideas what could be causing this?

[2015-02-12 08:21] ankane commented on #5
Which authentication framework do you use?

[2015-02-12 09:41] jamsi commented on #5
Devise.

On Thu, Feb 12, 2015 at 7:21 PM, Andrew Kane <notifications@github.com>
wrote:

[2015-04-28 16:59] sheffler commented on #5
Nice gem, but I have the same issue.  Browsing (viewing) impersonated users seems to work ok, but if I attempt to *edit* a user-setting, I suddenly become that user.  HEre is what I know.

I am using Devise with a custom registrations controller.

    # routes.rb
      devise_for :users, :controllers => { :registrations => "registrations" }

In that registrations_controller, I am attempting to let

[2015-06-21 08:01] paulewetzel commented on #5
I just noticed I had the same problem, also using devise. The true user is dropped when it I update a user.

[2015-07-16 07:30] unregistered commented on #4
+1... I didn't realize this was a dealbreaker before I started using this module.

[2015-08-13 00:16] ins429 opened #7 "Error when `current_user` is not defined in ActionController::Base"
Probably need to check if `current_user` or whatever `impersonated_method` is defined on https://github.com/ankane/pretender/blob/master/lib/pretender.rb#L16?
[code]

[2016-01-16 20:17] ShadowRadiance commented on #5
I realize this is a necro, but since it isn't closed, others may find their way here.

Devise logs you out when editing "your own" details. Since you're impersonating "User 12" when you edit the user setting, Devise seems to log out everything.

You need to (re)sign_in (all) the user(s) after making the change.

See

sign_in @user, bypass: true

https://github.com/plataformatec/devise/issues/971
h

[2016-04-13 06:20] ChakreshwarSharma-BTC opened #8 "Current User becomes true user on invitable email"
Hi,
I am using devise_invitable for sending invitation email.
When I impersonate a user & invite some user , then the invitation is send by true user & not the impersonated_user(current_user)

[2016-07-07 09:18] #7 closed

[2016-07-07 09:18] ankane commented on #7
All fixed, thanks Peter.

[2016-07-24 01:57] ankane commented on #4
This is done to prevent a situation where a user (who let's say is an admin) logs out but the impersonation sticks, so the next user who logs in on the same machine (who may not be an admin) will be impersonating (security issue).

[2016-07-24 01:57] #4 closed

[2016-07-24 01:57] ankane commented on #5
Thanks for the explanation @ShadowRadiance

[2016-07-24 01:57] #5 closed

[2016-07-24 01:59] ankane commented on #8
Hey @ChakreshwarSharma-BTC, I haven't used `devise_invitable`, so will need you or someone else to debug. Closing for now, but feel free to reopen if you find anything.

[2016-07-24 01:59] #8 closed

[2016-08-06 03:04] mikestephens opened #10 "Sorcery + Pretender wont stop impersonating"
Hey! I love the gem, but unfortunately when hit the "stop_impersonating" method in my users controller and refresh the page it goes right back. The problem does go away on a full logout.

Here is my controller method:
[code]

And here is a gif of the problem:
http://i.imgur.com/aCYeDpC.gifv

Versions:
rails (= 4.2.4)
pretender (0.2.1)
sorcery (0.9.1)

Let me know if there is any other information

[2016-08-06 20:42] ankane commented on #10
Hey @mikestephens, it's possible the user isn't being impersonated. I'd log `current_user` and `true_user` on `stop_personating` action to see if that's the case. (the imgur link isn't working, fwiw)

[2016-08-07 04:14] mikestephens commented on #10
Hey! sorry about the imgur link. I fixed it in the original post. So I just double checked and `current_user` is set to the impersonated user and `true_user` is set to my true user as expected.

[2016-08-07 18:41] ankane commented on #10
Can you log `session` as well?  There should be a key called `impersonated_user_id` that is set to `nil` after `stop_impersonating_user` is called. https://github.com/ankane/pretender/blob/master/lib/pretender.rb#L43

[2016-08-07 22:44] mikestephens commented on #10
Sure thing! It looks like the session is removed initially but upon page refresh it is back

[code]

[2016-08-08 03:24] ankane commented on #10
I'm not sure why the session update wouldn't stick. Do you see this issue with other session variables?

Also, be sure impersonate_user isn't accidentally being called in a before_action.

[2016-08-08 05:11] mikestephens commented on #10
Impersonate user does not get called anywhere outside of the user controller action. Other session variables seem to work as intended.

I will note that I just released my changes to my production server and this issue seems to be only on my local machine. It must be something funny with my local set up.

[2016-08-09 02:36] ankane commented on #10
I'm not really sure where to go from here.  Let's close, but please follow up if you figure it out so others can benefit.

[2016-08-09 02:36] #10 closed

[2017-01-03 21:04] brunowego opened #12 "Rails API support"
When try access my API, I get the follow error:

[code]

My controller extends to `ActionController::API`:

[code]

Looking at the gem code, I see that extend from `ActionController :: Base`.

[2017-01-03 21:09] brunowego commented on #12
Yep! If I change to `class ApplicationController < ActionController::Base` works.

[2017-02-16 19:48] kevinjbayer opened #14 "Log in as different Model"
Is it possible for this gem to be used with different models? For instance, I want an AdminUser model to be able to login as any User. It works great when I set it up User to User, but not when I use the AdminUser to User.

[2017-02-17 04:06] ankane commented on #14
Pretender wasn't built for this, but you can try using the `with` option to see if it works. https://github.com/ankane/pretender#configuration

[2017-02-17 04:28] kevinjbayer commented on #14
Yeah, I was attempting to update the impersonates method because I can tell it's using the same scope of 'user', including in true_method:

[code]

I ended up modifying [switch_user](https://github.com/flyerhzm/switch_user) to fit my needs and it mostly works, but not as cleanly as I like your code. Wish I had time to do figure out a way for this to work right now, but I don't. I'll close. Thanks

[2017-02-17 04:28] #14 closed

[2017-02-27 13:44] newton10471 opened #15 "current_user reverts back to true_user after redirect"
I love the idea and simplicity of this gem but having difficulty getting it to work with my app.  Immediately after calling the impersonate_user method in my app, current_user and true_user are set to the correct users.  However, once my app hits the controller specified in the redirection after calling impersonate_user, current_user reverts back to being the same as true_user.  session[:impersona

[2017-02-27 20:44] newton10471 commented on #15
Think I figured out my issue.  Thanks!

[2017-02-27 20:44] #15 closed

[2017-02-28 06:00] ankane commented on #15
Great, if there's anything others can learn from it, feel free to add details.

[2017-03-20 07:15] himanshinigam09 commented on #10
Hey! the gem is great. But what I want is that when a true user impersonating as the current user, he should not be able to perform any action (create, update, delete) or make any updates in the user's account.

[2017-03-20 15:29] ankane commented on #10
Hey @himanshinigam09, you can check if `current_user == true_user` in the controller action or `before_action`. Also, please create a new issue for new questions so we're not creating noise for others.

[2017-04-13 14:52] hoenth commented on #15
@newton10471 What was your issue, as I am experience something similar. I use an Admin model and so have `impersonate :admin`. I am also using Devise.

The impersonate action redirects to the admin index action. In the index action controller method, both current_admin and true_admin are correct, but in the index view, current_admin is set back to true admin. Though @impersonated_admin is correct.

[2017-04-13 14:57] newton10471 commented on #15
@hoenth my issue had nothing to do with the pretender gem, just my brain not working properly.  I was using the wrong attribute to search by in the lambda component of impersonates :user, with:

[2017-04-13 18:07] hoenth commented on #15
Thanks @newton10471. @ankane do you have any insights into where I could start looking as to why the current_admin is not using the @impersonated_admin value?

[2017-06-07 02:21] conwayanderson opened #17 "current_user must be defined before the impersonates method when using the Clearance gem"
I'm getting the error `current_user must be defined before the impersonates method` when trying to implement this in an app that uses the Clearance user auth gem, which does have a current_user method. I'm not sure how to adjust the implementation to work, though.

![screenshot 2017-06-06 19 18 57](https://user-images.githubusercontent.com/1882439/26859556-71fea460-4aed-11e7-8143-9112678442de.png)

[2017-06-09 12:02] hundsim opened #18 "Following the documentation but cannot get it to work"
I've installed Pretender (0.2.1) on Rails 5.1.

If you see the commented out lines in the method below, the passed user id doesn't get assigned to `current_user`.

In users_controller.rb

    def impersonate
	  # current_user.id => 20
	  user = User.find(params[:id])
	  # user.id => 300
	  impersonate_user(user)
 	  # current_user.id => 20
      ...

in application_controller.rb

    impersonates

[2017-06-11 17:27] #17 closed

[2017-06-11 17:28] ankane commented on #17
Hey @conwayanderson, thanks for reporting 👍  This is fixed on master.

[2017-06-11 17:34] ankane commented on #18
Hey @hundsim, try putting `impersonates` after the `current_user` method is defined.

[2017-06-11 18:18] #12 closed

[2017-06-14 16:26] Littlejd1997 opened #19 "Pretender 0.3 causes rails app to crash"
I wish I could provide more information as to what the issue is, but after updating our gems, our app stopped worked. Downgrading pretender back to 0.2 fixed the issue. The only error logged is as follows

     F, [2017-06-14T14:29:44.599534 #15416] FATAL -- : [55a6371f-bce8-4f0c-9346-901a223612a3]
     F, [2017-06-14T14:29:44.599708 #15416] FATAL -- : [55a6371f-bce8-4f0c-9346-901a223612a3] System

[2017-06-14 17:29] ankane commented on #19
Hey @Littlejd1997, thanks for reporting 👍  A few questions:

1. What version of Rails are you on?
2. What authentication framework and version are you on?
3. Where is the `impersonates` method (`ApplicationController` or somewhere else)?

[2017-06-14 22:14] Littlejd1997 commented on #19
Rails 5.0.3
Devise 4.3.0 (also using Simple Token Authentication)
ApplicationController

[2017-06-16 04:33] ankane commented on #19
Hey @Littlejd1997, I'm unable to reproduce the issue with those versions. It may be specific to your app. Let's see if anyone else reports this.

[2017-06-16 15:55] Littlejd1997 commented on #19
Ok thank you. If you have any other questions about my setup, let me know. If anything stands out for me I'll let you know

[2017-06-16 16:55] cavneb commented on #19
I am running into this as well. Rails 5.0.2, Devise 4.3.0, App controller

[2017-06-16 17:14] ankane commented on #19
I pushed a `stack_error_debug` branch. Would be great if one of you could try it and let me know if:

1. It fixes it
2. What it outputs (logs will be tagged with `[PRETENDER]`).

[2017-06-16 17:30] cavneb commented on #19
@ankane It did not fix it:

[code]

[2017-06-16 17:59] ankane commented on #19
Thanks @cavneb. Try master. Should be fixed with 5b8682262a8eea1aa347adfce5f3c52c984592b9.

[2017-06-18 12:36] samstickland commented on #19
Same problem here. Problem was resolved on master 👍

[2017-06-18 17:13] ankane commented on #19
Thanks @samstickland 👍  I pushed out version 0.3.1.

[2017-06-18 17:13] #19 closed

[2017-07-04 19:29] ankane commented on #18
Cleaning up issues

[2017-07-04 19:29] #18 closed

[2017-07-13 18:38] seyonv opened #21 "Working in development, Not working in production"
Deployment is on Heroku.  Nothing I can notice in production.rb would cause this issue and
there's no production specific gem that would cause this either.

Any ideas or is this a problem anyone else has experienced before?

[2017-07-13 18:41] seyonv commented on #21
Never mind, nothing related to this gem

[2017-07-13 18:41] #21 closed

[2017-08-09 20:13] stevenharman commented on #14
We have an `Administrator` and then an `Account` model. We were hoping to have `Administrator`s impersonate an `Account`. If this isn't supported, and it seems not to be, maybe add that to the README?

[2017-08-09 21:46] stevenharman opened #22 "Support for Warden, and thus Devise constraints?"
Hello, and thank you for the effort you've put into this gem. I am trying to integrate `pretender` into our app but have hit a snag. Namely, we use Devise and also leverage Warden route Constraints. That is rather than the Rails Controller-based `before_action :authenticate_user!` mechanism, we use a custom constraint, like this in `routes.rb`

[code]

When Warden runs that constraint it doesn't l

[2017-08-10 03:48] ankane commented on #14
Hey @stevenharman, this is supported. See the Configuration section of the readme. You'll want to put `Administrator` in the `with` part.

[2017-08-10 03:58] ankane commented on #22
Hey @stevenharman, the impersonation is a bit tricky to get right, so no plans to do anything special with Warden right now.

[2017-08-10 05:43] stevenharman commented on #22
OK, that's fair.

Though... I was just able to roll this myself w/o too much trouble. It's dependent on having Warden as the backing authentication mechanism, so there's that.

[code]

If I had a month of Sundays, I might even publish that as a Gem. But who wants that headache! #AMIRITE 😉

[2017-08-10 05:43] #22 closed

[2017-08-10 05:48] stevenharman commented on #14
Yeah, this ended up breaking b/c Pretender isn't compatible with route-based constraints. e.g.,

[code]

For posterity, and folks landing here in the future, I ended up rolling my own solution: https://github.com/ankane/pretender/issues/22#issuecomment-321456371

[2017-08-11 01:13] hwhelchel opened #23 "ActionCable Integration"
I have a Rails 5 app that uses Pretender for impersonation.

Currently when impersonating an account, my action cable channels no longer work. What's the simplest cleanest way to add Pretender to action cable?

To authenticate my cable connection I use:

[code]

and here are the warden hooks which cookie the account_id

[code]

I tried this naive solution which didn't work:

[code]

[2017-08-11 13:49] hwhelchel commented on #22
@stevenharman I'm going to play around with your snippet to support my #23 use case. I'm using warden hooks for action cable authentication so your added warden user management might be just what I need.

[2017-08-11 14:42] stevenharman commented on #22
@hwhelchel Nice! I'll try to move this all to a gist at the very least, including the other bits I've added/tweaked since posting the original snippet.

[2017-08-16 15:31] hwhelchel commented on #23
I used #22 to solve my problem since I use Devise and Warden Constraints for managing my ActionCable cookie. I removed pretender for now but it is a great gem to quickly add impersonation!

[2017-08-28 15:32] adambedford opened #25 "Solutions for use with Doorkeeper / API?"
I'm trying to figure out the best way to implement user impersonation with an Ember app and Doorkeeper. Has anyone had success using pretender with Doorkeeper?

One thought I've had: Switch Rails session store from `cookie_store` to a Redis store so that sessions on the API work, however this violates the principles of REST since context is maintained on the server across requests.

Would love to

[2017-10-19 15:20] abrom opened #26 "Context of `with` proc"
At the moment the context of `self` from within the `with` proc will be the class in which the `impersonates` function is called (ie your ApplicationController). Instead of using:

[code]

I'd suggest instead to use

[code]

which will give the `with` proc access to everything in the current controller instance.

I'd be happy to put together a PR if it's something you'd be interested in.

[2017-10-22 12:00] ankane commented on #26
Hey @abrom, thanks for the suggestion. Can you give an example where this is useful?

[2017-10-22 12:10] abrom commented on #26
Sure, my use-case is that the attributes/associations of an impersonator and impersonated user can change. Validation of the impersonator's ability to act as another user allows you to be sure the privilege isn't being abused.

I've put together the changes described above, as well as an `impersonating_#{scope}?` helper method in #27

[2017-10-30 06:51] ankane commented on #26
Closing - see #28 for reference

[2017-10-30 06:51] #26 closed

[2017-10-30 06:53] ankane commented on #25
Hey @adambedford, I personally haven't tried it with Doorkeeper. Stack Overflow may be a more visible place for this question - this place is a bit quiet :)

[2017-10-30 06:53] #25 closed

[2017-10-30 06:54] ankane commented on #23
Hey @hwhelchel, thanks for sharing for future readers 👍

[2017-10-30 06:54] #23 closed

[2017-11-15 13:28] skng5 opened #30 "Missing Before_Filter method in README"
The README.md, "Sample Implementation" section, "Create a controller" example should either inform the developer to implement their own `require_admin!` filter or show one in the `UsersController` example.

[2017-11-15 17:24] ankane commented on #30
Hey @skng5, does https://github.com/ankane/pretender/commit/03a185e46b70426c59195efd0ceded24f588b428 make it more clear?

[2017-12-10 18:03] rmccown opened #31 "Help keeping current_user correct"
I'm having the same issue as this issue from earlier in the year.

https://github.com/ankane/pretender/issues/15

I have a rudimentary user session based on a session cookie.  Essentially, my current_user function looks like this

`
  def current_user
    @current_user ||= User.find_by(id: session[:user_id])
  end
`

In my user controller the redirect sets current_user correctly, but in debugging

[2017-12-21 01:28] micahlisonbee opened #33 "Sample on using this with token authentication on Rails 5 API-Only"
Can anyone give an example of how to use this with token auth? Specifically Devise + Simple Token Authentication. Rails 5 API-Only mode

@Littlejd1997 mentions using this with token auth in #19

Thanks.

[2017-12-21 07:35] ankane commented on #33
Hey @micahlisonbee, you'll need to add session storage to your app and pass the session cookie on subsequent requests to the API. http://edgeguides.rubyonrails.org/api_app.html#other-middleware

[2017-12-21 15:09] micahlisonbee commented on #33
It actually just works for me with only adding the middleware:

[code]

It's working on subsequent requests even though I'm not sending any cookies up which leaves me a bit confused how the session is keeping the state. Any ideas?

[2017-12-23 00:56] ankane commented on #33
@micahlisonbee My guess is your HTTP libraries is storing cookies and sending them with subsequent requests.

[2017-12-24 05:02] aristizabal95 commented on #22
@hwhelchel do you have any example app using this code? I really need to implement this functionality to make it work with action cable, but I've been struggling trying to adapt my code to your example.

[2018-01-05 20:51] micahlisonbee commented on #33
@ankane I am using the GraphiQL (graphql-ruby) and I'm not sure it's sending/stories any cookies.

[2018-01-06 23:01] ankane commented on #33
@micahlisonbee You can check by adding the following code to your controller:

[code]

[2018-01-08 16:23] micahlisonbee commented on #33
@ankane yes it was sending cookies. We changed our web app to `credentials: 'include'` and set our Rails CORS settings to accept credentials and it works now. Feel free to close this. Thanks!

[2018-01-08 16:45] #33 closed

[2018-01-08 16:46] #30 closed

[2018-01-20 16:21] mkilling opened #34 "current_user does not change after signing out user, signing in different user"
I‘m using pretender 0.3.1, rails 5.1.3 and devise 4.3.0. In one `before_action` I log out the current user and log in a different user. I am not impersonating anyone.

Unfortunately, `current_user` does not change, even though `true_user` does:

[code]

From a quick glance at the code I think that pretender caches `current_user` in an instance variable, causing this unexpected behaviour.

[2018-01-21 21:07] #34 closed

[2018-01-21 21:08] ankane commented on #34
Hey @mkilling, thanks for the detailed report. This should be fixed on master.

[2018-01-21 22:02] ankane commented on #31
Hey @rmccown, thanks for reporting. A few things:

1. Can you try `master` to see if the issue is still happening? It has additional warnings that could help debugging.
2. Is impersonation not working in the controller, view, or both?

[2018-01-30 11:05] RORrvtech opened #35 "not working with devise scope"
steps
1) impersonate_user(normal_user)

2) put debugger in routes.rb
authenticate :user, lambda { |u| debugger; u.admin?  } do
            mount Sidekiq::Web => '/sidekiq'
            root to: "users#index", as: :admin_root
        end

        authenticate :user, lambda { |u| u.normal_user? } do
          root 'activities#index', as: :authenticated_root
        end

Result => u is admin user. all

[2018-01-30 16:14] ankane commented on #35
Hey @RORrvtech, Pretender only works at the controller level unfortunately.

[2018-01-31 03:53] RORrvtech commented on #35
Yes, I realised that, Placing workaround here if anyone facing same issue.

**in ApplicationController**
[code]

**In in UsersController**
[code]
1. anyone looking why and is there can google for it.
2. You will not face any redirects due to different roles.

[2018-02-02 00:22] rmccown commented on #31
I think I can give it a try over the weekend.  Thanks

[2018-02-03 15:03] rmccown commented on #31
Just testing now. Same thing is happening with the latest.

Some debugging.  In the controller, I'm the correct, impersonated user, but in the view, current_user is still equal to true_user.

[2018-02-07 03:32] ankane commented on #31
Just to clarify: everything is working correctly in controller, but `current_user` is always equal to `true_user` in views?

[2018-02-07 03:32] ankane commented on #35
Thanks for sharing 👍

[2018-02-07 03:32] #35 closed

[2018-02-07 03:36] ankane commented on #31
If that's the case, try adding `helper_method :current_user` after `impersonates :user` in your controller and see if that fixes it.

[2018-02-07 12:35] rmccown commented on #31
Correct

Yes, that does fix it.  Thanks!

[2018-02-07 13:07] #31 closed

[2018-03-19 12:03] surajit opened #36 "not working in apartment multitenant"
I'm using ruby-2.4.2 and Rails-5.1.4 and using 'apartment' gem for multitenancy. The impersonate not working to switch multi user account.

[2018-03-19 15:40] ankane commented on #36
Hey @surajit, can you provide more detailed instructions on how to reproduce, including what "not working" means?

[2018-03-26 13:08] surajit commented on #36
we've different databases and user associated with different databases, so as a superadmin we can switch one databases to another database by user what actually 'pretender' done. This functionality not working in apartment. can you please suggest what we need to do here.

[2018-03-26 15:38] ankane commented on #36
My suggestion would be to fork the gem, add some logging, and understand why it's not working with your set up. From there, we can then consider possible changes.

[2018-05-01 00:47] thapakazi commented on #21
@seyonv what was the issue, I am facing the similar.
after commenting out the impersonates section, then only app started working on other envs.
[code]
  **Are there any change this gem tied up to environment specific configuration ??**

[2018-05-01 06:44] mchalise opened #37 "Pretender not working in Staging or Production Environment."
I have implemented pretender with devise auth token to masquerade user. Its working fine in the local environment but when switched to prod. or stag. auth is not working. Is there any config I have to change. Thanks.

[2018-05-01 18:39] ankane commented on #37
Hey @mchalise, I haven't used Devise Auth Token, so not sure. I'd try Stack Overflow.

[2018-05-01 18:39] #37 closed

[2018-05-23 09:55] ankane commented on #36
Cleaning up stale issues

[2018-05-23 09:55] #36 closed

[2018-07-18 14:19] artur79 commented on #14
@ankane what would be the setup if I use Devise and admin is Admin class and user which I want to impersonate is User class ? I'm getting all the time error: Must be logged in to impersonate.
Tried this _impersonates :user, method: :current_user, with: -> (id) { Admin.find_by(id: id) }_ but no success

[2018-09-08 14:04] phosphor1879 commented on #23
FWIW I got this working by simply accessing the imposter ID in the session before falling back to the warden user (true user). Here is my Connection:

[code]

[2018-09-20 15:12] ankane commented on #23
Thanks for sharing @phosphor1879 :+1: That's the missing piece I needed to add official support. You can follow [these instructions](https://github.com/ankane/pretender#action-cable-master) with master branch.

[2018-09-21 14:13] hwhelchel commented on #23
thanks @ankane for adding these changes 👏

[2018-10-12 07:39] jonfer opened #39 "Working fine in development but not in production with Unicorn"
Its working fine in development environment. But in production I get this error:

In development I'm using puma and in production unicorn, is it possible that this doesn't work with unicorn?

[2018-10-15 08:53] jonfer commented on #39
I forgot to detail that the problem is only in ActionCable, looks like it doesn't load the Gem or something...

I tried to test it in development with Unicorn but my application needs Puma-dev with subdomains.

[2018-11-27 14:47] rscardinho opened #40 "Multiple loggable classes"
I have two loggable classes in my app: `User` and `Customer` and I'm willing to log into a `Customer` from a `User` (which is my admin role). Is there any setup that allows me to do this?
I did check the `impersonates` method implementation and the `#true_scope` method isn't as flexible as `#current_scope`, which may block the impersonate that I described above

If there is no way to do what I'm t

[2018-11-27 21:48] ankane commented on #40
Hey @rscardinho, if your models are separate, can you just sign in as the customer?

[2018-11-28 15:05] bustikiller opened #41 "Multilevel impersonation"
I would like to know if Pretender supports multilevel impersonation, that is, user A impersonates user B, and while being impersonated, user B (which is actually user A) impersonates user C.

Thanks

[2018-11-29 08:06] ankane commented on #41
Hey @bustikiller, it doesn't right now and probably won't to keep things simple.

[2018-11-29 08:06] #41 closed

[2018-11-30 13:38] rscardinho commented on #40
Hi @ankane, that's what I did after all. I'm using Devise's `sign_in` and `sign_out` methods and the impersonate implementation is very similar to pretender

[2018-12-17 11:15] ankane commented on #40
Great.

[2018-12-17 11:15] #40 closed

[2018-12-17 11:17] ankane commented on #39
Cleaning up issues. If you get to the bottom of it, let me know.

[2018-12-17 11:17] #39 closed

[2019-01-12 04:32] phosphor1879 commented on #25
Hey guys

I searched stackoverflow but didn't find this question... In any case I needed this too and after a couple hours I took a solution I wasn't too proud of but which worked.

Essentially I am using the database to store the ID of the user my true_user is impersonating and make sure to maintain that ID and utilize it appropriately:

[code]

and then using it in a doorkeeper context:

[code]

[2019-01-28 10:46] bustikiller opened #42 "Continuous integration"
I have not seen any continuous integration configured in this project. Is there a plan to include this as part of the development cycle?

Thanks in advance

[2019-01-28 11:21] verlinden commented on #39
Hi,

@ankane I've got the same issue in staging or production environments. You can reproduce it in local by adding `config.eager_load = true` in development.rb

Seems like the impersonates  method is called before your `ActiveSupport.on_load(:action_cable)` callback ?

[2019-01-29 22:02] ankane commented on #42
Hey @bustikiller, no plans to add it right now.

[2019-01-29 22:13] ankane commented on #39
Thanks @verlinden, can you give master a shot?

[2019-01-31 17:20] scharrier commented on #39
@ankane I got the exact same issue in staging and production (for the same `eager_load` config) and using the master version of pretenders fixed it. Thanks!

[2019-01-31 21:43] ankane commented on #39
Thank you both, just released a new version.

[2019-02-07 11:45] #42 closed

[2019-02-20 18:39] Eusebius1920 commented on #25
I guess the core-problem is that `Doorkeeper` does not use `ActionController::Base` as default controller (But Pretender gets inserted into the `ApplicationController` via `impersonates :user`)

Thus setting inside `config/initializers/doorkeeper.rb`:
[code]
solved all Issues for me.

[2019-07-12 19:20] HenriqueMorato opened #45 "current_user equals true_user after override"
I'm having a issue related to #31

When we override current_user:

[code]

The `super` call not return the current impersonated user but the `true_user` there's a way to bypass this?

[2019-07-12 20:59] ankane commented on #45
Hey @HenriqueMorato, moving `impersonates` after the new method should fix it. I'm not sure if there's a way to make it work in this situation, as there's already a bit of metaprogramming magic to make it work as is, but feel free to submit a PR if you can figure it out.

[2019-07-12 22:46] HenriqueMorato commented on #45
Hey @ankane

I've tried that before, the problem with this approach is that `current_user` returns a not decorated user so some of my methods will fail :(

There's some way to expose a variable to not have to@ call `super` on current_user but call the variable?

I'll try to take a look and explore the code in detail this weekend.

[2019-07-26 17:49] rbazinet commented on #17
@ankane I'm getting this error in and RSpec test. Any suggestions on what's needed to test my controller methods that use Pretender?

[2019-07-30 10:07] okanisildur opened #46 "Pretender does not work correctly with cells gem"
Hello!

We're using this gem for a while and it is so helpful for us but, currently I am facing an issue. We implemented cells to our project (you can see the gem here: https://github.com/trailblazer/cells) and pretender does not work inside of cells. Cells get current_user (thanks to devise gem) as the real user, not as the user that I want to pretend.

I can pass the current_user to the cell as

[2019-07-30 18:09] ankane commented on #46
Hey @okanisildur, I haven't worked with the cells gem before, but please post back if you figure it out.

[2019-08-08 01:22] ankane commented on #45
Cleaning up issues. As you mentioned, I'd try digging into the code to see if you can make it work for you.

[2019-08-08 01:22] #45 closed

[2019-08-17 02:05] #46 closed

[2019-09-30 02:41] viniciuscacd commented on #19
Im still getting this error.

[2019-10-17 18:31] sameer1612 opened #47 "Usage with reach frontend with Rails api using devise"
Is it possible to use gem to do impersonation at api level with devise token based auth on separate frontend using react?

[2019-10-17 19:39] ankane commented on #47
Hey @sameer1612, check out #33.

[2019-12-02 06:23] #47 closed

[2020-06-12 19:02] single-stop-rj opened #48 "Looking for a way to use this with graqpql_devise"
I am currently using the following stack for auth flow.

I have an admin user that needs to be able to impersonate a normal user.
I'm having trouble putting this into the code because this seems very tied to the controllers.

I was wondering if anyone has any idea about implementation on this.

[code]

[2020-06-12 23:57] ankane commented on #48
Hey @single-stop-rj, I'm not familiar with `graphql_devise`. This place is pretty quiet, so Stack Overflow is probably a better place to get help.

[2020-06-30 05:31] ankane commented on #48
Cleaning up issues

[2020-06-30 05:31] #48 closed

[2020-07-27 10:00] armansa commented on #17
I have same problem. To fix it I added `devise_for :users, only: []` in config/routes.rb
But then tests fail.

[2020-10-12 15:19] dclausen opened #49 "current_user helper"
When using pretender and devise, I noticed that the controller method for current_user is being updated to the impersonated user. However, when calling current_user within a view via <%= current_user %>, I see the true user instead. As a workaround, I updated the view to use <%= controller.current_user %>. Is this expected?

[2020-10-13 06:06] ankane commented on #49
Hey @dclausen, I think it may be something specific to your application, as I'm not able to reproduce with a fresh Rails app.

You can try adding `helper_method :current_user` after `impersonates :user` to fix it.

[2020-11-07 21:38] ankane commented on #49
Closing due to no response

[2020-11-07 21:38] #49 closed

[2020-12-08 21:24] jondavidjohn opened #50 "Destroying the session?"
Is there a reason this gem destroys the user's session when stopping the impersonation?

https://github.com/ankane/pretender/blob/6c6e970ea1ef16ab5c32fba3765af1df38e8a9f4/lib/pretender.rb#L66

Seems like you should be able to stop the impersonation (of another user), and just revert back to the true user?

[2020-12-08 21:28] ankane commented on #50
Hey @jondavidjohn, only the `impersonated_#{scope}_id` key is deleted, not the user session.

[2020-12-09 00:26] jondavidjohn commented on #50
Interesting, I'm running into a situation where it actually logs me out fully.  I'll do a little debugging to see if I can pinpoint why.

[2021-01-01 16:25] akimthedream commented on #50
Hey @jondavidjohn, happy new year! I ran into the same issue. Does your `before_action :require_admin!` perform the logout? For me it had to be `before_action :require_admin!, except: [:stop_impersonating]`. The documentation is a little bit misleading here.

[2021-01-29 05:43] ankane commented on #50
Thanks for sharing @akimthedream. Closing this out since it doesn't appear to be an issue with Pretender.

[2021-01-29 05:43] #50 closed

[2021-08-12 05:47] yuvalbau opened #54 "true user reset after UI refresh"
I implemented the pretender gem on my app in order to use impersonations .
Im using Devise auth and the issue is :
after impersonating  the current_user and true_user are set correctly, but once i refresh the application , true_user is reset to be similar as the current_user (the impersonated one ).

thanks :)

[2021-08-12 18:25] ankane commented on #54
Hey @yuvalbau, I'm not exactly sure how to reproduce, but my guess is the session is not persisting between requests or is being reset.

[2021-09-09 03:23] #54 closed

[2021-10-12 15:24] Haider-Ali-RoR opened #55 "User and admin role model"
Hi @ankane, i have two separate models `Admin` and `User` and i want to impersonate the `User` by an `Admin`. I also followed the `with` part in configuration but nothing happened. Please guide me what actually i should do to achieve this task. Thanks!

[2021-11-12 03:55] ankane commented on #55
Hey @Haider-Ali-RoR, it looks like this isn't supported (not sure why I thought it was in https://github.com/ankane/pretender/issues/14#issuecomment-321442956), so you'll probably want to try a different gem.

[2021-11-12 03:56] ankane commented on #14
Hey, sorry for the confusion. Just took a look at this again for #55 and it's not supported (not sure why I thought it was in https://github.com/ankane/pretender/issues/14#issuecomment-321442956).

[2021-12-06 03:37] #55 closed

[2022-02-01 10:14] sjieg opened #56 "Adding current_user to ApplicationController for IDE detection breaks impersonate_user"
Hey, first of all, thanks for this gem. We've been using it succesfully for almost 2 years now without fail.

I don't think this is a bug of Pretender really, but maybe you can help me. RubyMine doesn't understand `current_user` when using Devise, so I've put a function placement in my ApplicationController according to [this](https://stackoverflow.com/questions/26640316/how-can-i-configure-my-rub

[2022-02-01 20:46] ankane commented on #56
Hey @sjieg, you can try moving `impersonates :user` to after the new method if it's not already. If that doesn't work, try adding debugging to see what's going on.

[2022-02-01 21:15] sjieg commented on #56
Hah, that actually works. Thanks @ankane !

I learned something now about how these kind of methods are invoked. Much appreciated.

[2022-02-01 21:15] #56 closed

[2022-03-12 06:20] sulemanuzair opened #57 "Auto logout user"
Hi there,
I wanted to ask whether the functionality to auto log-out pretended user should be added in gem. Currently, I am thinking to achieve it through devise timeoutable module for my case.

Thanks :)

[2022-03-12 17:45] ankane commented on #57
Hey @sulemanuzair, it's an interesting idea, but think it's probably not common enough of a need to add. If you find a way to make it work, would be great to share for others who are interested.

[2022-03-13 07:32] sulemanuzair commented on #57
Sure. I moved to some other tasks during this time. But will definitely share my results in this week.

[2022-03-29 18:43] ankane commented on #57
Cleaning up issues, but still feel free to share

[2022-03-29 18:43] #57 closed

[2022-08-12 06:18] sulemanuzair commented on #57
@chadwilken Sorry, I couldn't continue on this but i had the idea to follow Devise's timeoutable module for this case.

[2022-09-16 15:30] ThomasBush commented on #19
Posting in case some one else makes the same mistake I did and finds this thread.

You will also get this error if you accidentally included the `impersonates :user` in more than one controller.

This yields stack too deep error.  The documentation is clear: just add to the app controller, merely a mistake on my end.  Removing from other controllers resolved the issue.  Hopefully this helps someon

[2022-10-31 09:22] f-g-p commented on #33
Hi,
I'm currently implementing this feature with a React + Rails application.
My understanding was that with the API, each API call was independent and would go through authentication. So I figured I could store the impersonating state in the front end (redux store or cookie), and manually set up the current_user and true_user in the authentication method, without having to deal with middleware.

[2022-11-14 13:28] armellarcier opened #59 "Support jwt storage strategy"
Hi! I was trying to integrate pretender as a POC for our app.

We use Devise and have session_storage disabled.

Pretender makes mandatory use of sessions.

Did anyone think of an implementation that is compatible with jwt storage or something like that ?

[2022-11-16 23:54] ankane commented on #59
Hey @armellarcier, there aren't any plans to support token-based authentication, so it's probably better to try a different gem.

[2022-11-16 23:54] #59 closed

[2022-11-21 14:45] armellarcier commented on #59
I understand. I used pretender code and extended it with custom methods to both

- retrieve the impersonated resource's id from the request
- write it to storage (session or anything else)

That allowed me to read/write from/to the jwt.

Would you mind integrating these overridable methods in the lib ?

[2022-11-21 15:09] armellarcier commented on #59
I can create a PR if you want to integrate that

[2022-11-22 04:17] ankane commented on #59
Nice. I don't want to add more complexity to Pretender, but you could always release it as a separate gem.